@import 'tailwindcss';

@theme {
  --font-sans: var(--font-montserrat);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@utility inline-label {
  @apply flex items-center gap-3 text-sm/6 font-normal;
}

@layer base {
  label,
  legend {
    @apply text-sm font-medium;
  }
  input,
  select,
  textarea {
    @apply mt-2 block w-full rounded-lg border border-neutral-400 px-3 py-1.5 text-sm/6 font-normal accent-purple-600;
  }
  input[type="checkbox"],
  input[type="radio"] {
    @apply mt-0 size-4;
  }
  select {
    @apply appearance-none pr-9;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /></svg>")
      right 10px center no-repeat;
    background-size: 18px;
  }
}
